{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Import books via Google Books API</h1>
<form method="GET">
   <div class="row">
      <div class="col-2">
         {{ form.query|as_crispy_field }}
      </div>
      <div class="col-2 my-auto">
         <button type="submit" class="btn btn-success" value="submitted" name="searchButton">Search</button>
      </div>
   </div>
</form>
{% if books %}
<form method="POST">
   {% csrf_token %}
   <button type="submit" class="btn btn-success">Add selected</button>
   <table class="table table-hover">
      <thead>
         <tr>
            <th scope="col">Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publication date</th>
            <th scope="col">Page count</th>
            <th scope="col">Language</th>
            <th scope="col">ISBN</th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         {% for book in books %}
         <tr>
            <td><img src="{{ book.cover_url }}" class="img-fluid rounded-start" alt="No cover"></td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publication_date }}</td>
            <td>{{ book.page_count }}</td>
            <td>{{ book.get_language_display }}</td>
            <td>{{ book.isbn }}</td>
            <td>
               <input type="checkbox" value="{{ book.volume_id }}" name="volume_ids">
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</form>
{% else %}
<p>No books found.</p>
{% endif %}
{% endblock content %}

